
<br>
<h3>La magica storia dei Tarocchi</h3>
<br>

<div class="row">
<img src="/assets/images/storia2.jpg"  alt="">

<img src="/assets/images/storia.jpg"  alt="">
</div>
<br>

<p>I tarocchi sono una serie di simboli che custodiscono le <b class="giallo">energie primordiali dell’esistenza </b>e le rimandano all’uomo, sul piano sottile, attraverso la mantica stessa, ovvero la lettura dei segni.</p>
<br>
<p>La Cina è la terra d’origine della carta, ed il luogo di probabile invenzione delle carte da gioco.
    La scarsità di fonti e la difficoltà dell’interpretazione della lingua lasciano ancora <b class="giallo">molti lati oscuri </b>nella storia delle prime carte cinesi.</p>

<p>Sappiamo che le carte con <b class="giallo">semi corrispondenti a monete</b> s’ispirano all'antica monetazione locale, come dimostrano i semi del gioco: Jian (o Qian) ‘monete, denaro’, Tiao ovvero ‘bastoni, oggetti lunghi’ e Wan ‘miriadi, 10.000, decine di migliaia’.</p>

<p>I semi delle carte cinesi possono essere divenuti, in Occidente, i tradizionali semi delle comuni carte da gioco: le Stringhe sono simili a canne, sdoppiate poi in Spade e Bastoni; i Cerchi o Palle, invece, ispirano gli Ori; mentre le Decine di migliaia diventano le Coppe, per una probabile interpretazione errata degli ideogrammi relativi.</p>

<p>Il segno dei Denari italiani è quasi identico a quello dei Cash cinesi, e i Bastoni che apparvero in Italia nel XVI secolo, chiamati anche Colonne, hanno una grande somiglianza con le carte ku p'ai, nelle quali può anche intendersi l’immagine di Spade. </p>

<p>Per quanto riguarda le coppe, invece, è probabile che il geroglifico cinese abbreviato di wan, visto da un occhio occidentale (cioè da destra a sinistra, e non da sinistra a destra come d’uso in Cina) e capovolto può prendere le sembianze di una coppa. Si ipotizza che le figure rappresentate sulle carte potrebbero essere state ispirate dagli scacchi, relazionando questa connessione ad un gioco dell'antica India, ùche prevedeva pezzi incarnanti figure reali e militari.</p>
<br>
<p>L’antichissimo gioco da tavolo indiano Ashtapada (rinominato Chaturanga, o dei quattro re, nel V secolo d.C.) è assai simile ai quattro semi delle carte da gioco.
    Il Chaturanga, che in seguito divenne il persiano Shatranj, è considerato una delle possibili origini delle carte indiane rotonde. Anche il mazzo Ganjifa è costituito da dodici soggetti, con valori comprendenti carte non figurate (dall’1 al 10) e due figure: un ministro (o consigliere) e un re.
    Le illustrazioni raffigurano figure umane ed incarnazioni delle molte divinità indiane, tra cui le incarnazioni o avatares di Vishnù, uno dei componenti la trinità indiana.</p>

    <br>
<p>Alcune tradizioni riportano, inoltre, una connessione tra le carte dei Tarocchi ed il mondo tzigano.
    Nel tentare una spiegazione etimologica del termine<b class="giallo"> ‘Tarocco’</b>, s'individuò un collegamento fra la parola ‘Taro’, ‘Tarot’ e il termine ‘Tantra’, una tecnica mistica indiana, mirata all'<b class="giallo">ottenimento di un contatto con la divinità</b> che dimora in ogni uomo per trovare l'armonia con tutto il creato.</p>

<p>Le fonti si appropriarono di un gioco indiano sacro, che potrebbe essere messo in relazione alle immagini che colorano le carte degli <b class="giallo">Arcani Maggiori dei Tarocchi</b>.
    Le fonti testimoniano di presenze di tribù tribù nomadi a Creta, Corfù e nei Balcani prima del 1350, mentre nella prima metà del XV secolo sono documentate nel nord della Germania (presso Amburgo), e a Roma (1422), a Barcellona e Parigi (1427).</p>
<br>
<p>Altre fonti affermano, invece, che i Tarocchi sarebbero una rappresentazione su carta di <b class="giallo">ideogrammi egizi</b>, riprodotti sull'antichissimo testo dell'Egitto faraonico detto il Libro di Thot. Questa non comprovata ipotesi, fu avanzata anche da Court Gebelin (Le Mond Primitif analysé et comparé avec le mond moderne , 1781).</p>

<p>Secondo lo studioso<b class="giallo"> i simboli riportati sui Tarocchi sarebbero stati noti ai nomadi</b> che, nei tempi più antichi, migrarono dalle rive del Nilo ai paesi europei. Questa migrazione sarebbe avvenuta verso il XV secolo, ed in questo senso vi sarebbero riscontri storici di migrazioni provenienti sia dall'India, sia dal Nord Africa, in quel periodo. Secondo Court de Gebelin, <b class="giallo">i Tarocchi sarebbero stati la chiave per aprire i sigilli dei geroglifici ieratici</b>.
    In questo quadro storico, s'incastona l'opera di Jean-Baptiste Alliette, che acquisì il nome che lo contraddistingue nella storia dei Tarocchi: Etteilla, ovvero il suo cognome letto all'inverso. Nel XVIII secolo, pubblicò il suo libro Etteilla, ou manière de se récréer avec un jeu de cartes, il primo testo che conteneva tutte le spiegazioni delle lamine e le regole per una corretta lettura.</p>

<p>I simboli contenuti nell’iconografia di alcune lamine di tarocchi si trovano anche nelle profezie di Ezechiele e di san Giovanni.
    Si è ipotizzato anche che i Tarocchi, a livello arcaico, fossero medaglie dalle quali, in seguito, si fabbricarono talismani. Infatti, le clavicole, o piccole chiavi di Salomone, sono trentasei talismani che recano sessantadue sigilli analoghi alle figure geroglifiche dei tarocchi.</p>

<p>Questi sigilli, farebbero parte, inoltre, del libro delle trentadue vie, e la loro spiegazione si trova nel testo attribuito ad Abramo, ovvero il Sepher Jézirah. Si giunge così ad una corrente di pensiero che vede nei tarocchi la <b class="giallo">rappresentazione della saggezza</b> della cabala ebraica.
    Questi leggono nel termine tarocchi un evidente collegamento con rota, la ‘ruota’, da cui ‘tarot’ e ‘Torà’.</p>

    <br>
<p>Facendo una panoramica sulle ulteriori supposizioni legate all'origine del mazzo dei Tarocchi, c'è chi ritiene, che la loro <b class="giallo">origine sia antecedente alla cultura egizia</b>, legata a qualche popolo ormai scomparso, o forse dimenticato, ad una fantomatica o reale Atlantide, oppure al mazzo coreano Htou-Tjyen (composto di 80 carte).
    Un'ipotesi di Paul Foster Case (The Tarots, a Key to the Wisdom of the Ages) afferma che le carte dei tarocchi sarebbe nate nel 1200, a Fez, in Marocco.
    Altre fonti legano l’introduzione delle carte da gioco alle Crociate.</p>

<p>A questo proposito, ricordiamo che l'occultista Oswald Wirth, nella sua opera magna sul mondo dei Tarocchi, collocò la nascita delle carte da gioco e del Tarocchino a Bologna, per mano di Francesco Fibbia Castracani. Ma per quanti libri siano stati scritti sull'argomento, ancor oggi, a quasi cinque secoli dalla sua prima apparizione storicamente documentata, <b class="giallo">questo gioco rappresenta un mistero insoluto</b>.
    Sappiamo di certo che i tarocchi trovarono la loro massima diffusione in Europa, tra la fine del Medioevo e il Rinascimento, anche nelle corti signorili dell'Italia settentrionale.</p>

<p>Filippo Maria Visconti, duca di Milano, appare uno dei personaggi chiave nel mondo dei trionfi. Egli, per celebrare la futura nascita di un figlio, che mai avrebbe creduto di poter avere, commissionò uno dei più importanti mazzi di tarocchi italiani (1424), per i quali furono scelte sedici divinità tra quelle legate al pantheon greco. L’anno seguente avvenne la nascita dell’erede, ma anziché essere un maschio, come sperava, questo fu di sesso femminile, Bianca Maria Visconti. Ciò modificò in seguito il simbolismo delle singole carte.</p>

<p>La storia poi ricorda che prima del 1420, era già presente in Italia un certo interesse per il gioco delle carte. Dal 1420 al 1429 apparvero le prime leggi atte a regolamentare il gioco delle carte nella regione di Milano e intorno a Firenze. Nel 1422 appare il primo documento che attesta tale gioco alla corte ferrarese, che poi diverrà una delle più importanti fonti storiche relativi alla nascita dei tarocchi in Italia. L’anno successivo Bernardino da Siena predica contro l’uso dei tarocchi e dalle sue parole si evince che la struttura del mazzo era di 4x14 carte numerate.</p>

<br>
<p>Sono fondamentali le fonti che portano alla considerazione dei tarocchi regionali, come ad esempio il Tarocco Piemontese. Appaiono fondamentali testimonianze, che attestano la presenza del gioco dei tarocchi presso i Savoia dal 1401 al 1761, anno di nascita della Fabrique Royale di Torino, e poi fino all’Unità d’Italia (1861).
    Altro capitolo di massima importanza riguarda la città di Bologna. Per addentrarci in questo percorso sono illuminanti le ricerche eseguite da sir Michael Dummett, Giordano Berti e da Andrea Vitali. Questi studiosi ci permettono di ricomporre un quadro storico di grande interesse.</p>

    
    <a routerLink="/lettura">
    <app-sphere></app-sphere></a>

    <br><br>