<div class="container-fluid">
  <br>
    <div>
     <h5> Salve <b>{{email}}</b>.<br /> </h5>
    </div>
    <hr />
    <div>

    <div>
      <p>Questa è l'area riservara dei membri di<b class="giallo"> Arcana </b> dove ottieni l'accesso esclusivo alle letture dei tarocchi illimitate.</p> 
      <p>Ci sono altre caratteristiche speciali che vorresti ?</p>
      <p>Mandaci una mail a <a  href="#" class="giallo"> arcana@email.com </a>e faremmo del nostro meglio per aggiungerli!</p>

      <br>
        
      <p> Lo staff di <b class="giallo"> Arcana </b></p>
    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-outline-light" id="button" (click)="vaiAlleLetture()"> Vai alle tue letture</button>
      
      </div>

    <a routerLink="/lettura">
      <app-sphere></app-sphere></a>

      <br><br>